<div class="userRoles d-flex">
    <!-- <app-sidebar [activeRoute]="activeRoute" [links]="links"></app-sidebar> -->
    <div class="userRolesContainer">

        <div class="userRolesCreation">
            <div class="userRolesHeader d-flex justify-content-between">
                <div class="userRolesTitles">
                    <div class="userRoleTitle">
                        <p>
                            User Roles
                        </p>
                    </div>
                    <div class="userRoleSubTitle">
                        <p>
                            Identify your system user roles
                        </p>
                    </div>
                </div>
                <div class="userRolesActions">
                    <p class="addUserRole">
                        <app-plus></app-plus>
                        <span>
                            Add User Roles
                        </span>
                    </p>
                </div>
            </div>
            <div *ngIf="!userRoles"
                class="userRoleContent mt-5 d-flex flex-column justify-content-center align-items-center">
                <div class="userRoleImg">
                    <img src="../../../../../../assets/images/userRole.svg" alt="" class="img-fluid">
                </div>
                <div class="userRolesTitles text-center">
                    <div class="userRoleTitle">
                        <p>
                            Add User Role
                        </p>
                    </div>
                    <div class="userRoleSubTitle">
                        <p>
                            No User Roles has been add yet, Add!
                        </p>
                    </div>
                </div>
                <div class="addBtn">
                    <app-button [addIcon]="addIcon" [btnName]="btnName" [type]="button" [appearence]="secondary">
                    </app-button>
                </div>

            </div>
            <div *ngIf="userRoles"
                class="userRoleContent mt-5 d-flex flex-column justify-content-start align-items-center">
                <app-table [noDescription]="noDescription" [isActiveExist]="addIcon" [header]="header" [dataValues]="data"></app-table>
                <!-- <app-dicard-changes></app-dicard-changes> -->

            </div>
        </div>
    </div>
</div>